<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="Performind"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TesteWebwiew"
        tools:targetApi="31">

        <activity android:name=".ResponderEnqueteActivity" android:exported="false" />
        <activity android:name=".ListaEnquetesActivity" android:exported="false" />

        <activity
            android:name=".ListaEnquetesActivity"
            android:exported="false" />
        <activity
            android:name=".CriacaoDeEnqueteActivity"
            android:exported="false" />
        <activity
            android:name=".Enquete_resp"
            android:exported="false" />
        <activity
            android:name=".EnqueteActivity"
            android:exported="false" />
        <activity
            android:name=".MudarSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".ExclusaoDeUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".ListaExcluirVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ExcluirVideo"
            android:exported="false" />
        <activity
            android:name=".Excluir_usuario"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"> <!-- Alterado para true -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaDeUsuarios"
            android:exported="false" />
        <activity
            android:name=".CriacaoDeConta"
            android:exported="false" />
        <activity
            android:name=".PerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".ListaVideosActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroVideo"
            android:exported="false"
            android:label="@string/title_activity_cadastro_video" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>